<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 변경</title>
</head>
<body>
    <h2>비밀번호 변경</h2>

    <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div>
            <label for="id_old_password">이전 비밀번호:</label>
            <input type="password" name="old_password" id="id_old_password" required>
        </div>
        <div>
            <label for="id_new_password1">새로운 비밀번호:</label>
            <input type="password" name="new_password1" id="id_new_password1" required>
        </div>
        <button type="submit">비밀번호 변경</button>
    </form>
</body>
</html>