<!DOCTYPE html>
<html>
<head>
  <title>회원가입</title>
</head>
<body>
  <h1>회원가입</h1>
  <form action="/register" method="POST">
    <label for="student_id">아이디:</label>
    <input type="text" id="username" name="student_id" required><br><br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="가입하기">
  </form>
    <title>User Detail</title>
    <h1>User Detail</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>