body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #ffffff;
}

@keyframes appear{
from {
    opacity: 0;
}

to{
    opacity: 1;
}
}

@keyframes appear_from_bottom{
0%{
    transform: translateY(150px);
    opacity: 0;
}

100%{
    opacity: 1;
}
}

    .h1 {
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 590;
    position:absolute;
    top:369px;
    left:54px;
    width: 360px;
    line-height: 1.7;
    display: none;
    animation: appear ease-out 2.5s;

    span {
        color: #7B61FF; /* 변경할 색상을 지정합니다. */
        }
    }
    .h2{
    position:absolute;
    top:501px;
    left:260px;
    color: #8B8B8B;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px; /* 275% */
    text-decoration-line: underline;
    display: none;
    animation: appear ease-out 2.5s;
    }
    .h3{
    span {
    color: #7B61FF; /* 변경할 색상을 지정합니다. */
    }
    h1{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:1150px;
    left:35px;
    }
    h2{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:1180px;
    left:32px;    
    }
    h3{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:1235px;
    left:32px;        
    }
    h4{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:1260px;
    left:32px;        
    }
animation: appear_from_bottom ease 2s;
}
.h4{
    span {
    color: #7B61FF; /* 변경할 색상을 지정합니다. */
    }
    h1{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:2050px;
    left:35px;
    }
    h2{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:2080px;
    left:32px;    
    }
    h3{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:2135px;
    left:32px;        
    }
    h4{
    color: #383838;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: SF Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 33px;
    position:absolute;
    top:2160px;
    left:32px;        
    }
    animation: appear ease-out 2.5s;
    }
    .char{
    scale:100%;
    position:absolute;
    top:2247px;
    left:250px;
    transform: rotate(15deg);
    animation: appear ease-out 2.5s;
    }
    .logo{
        position:absolute;
        top:2750px;
        left:100px;
        animation: appear ease-out 2.5s;
    }
    .loginButton{
        position:absolute;
        top:2900px;
        left:130px;
        width: 123px;
        height: 30px;
        border-radius: 50px;
        background-color: #7B61FF;
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font-family: SF Pro;
        font-size: 12px;
        font-weight: 590;
        display: none;
        animation: appear ease-out 2.5s;
    }
    .calButton{
        position:absolute;
        top:2950px;
        left:130px;
        width: 123px;
        height: 30px;
        border-radius: 50px;
        background-color: #7B61FF;
    /*display: flex;*/
        align-items: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font-family: SF Pro;
        font-size: 12px;
        font-weight: 590;
        display: none;
        animation: appear ease-out 2s;
    }
    .applyButton{
        position:absolute;
        top:3000px;
        left:130px;
        width: 123px;
        height: 30px;
        border-radius: 50px;
        background-color: #7B61FF;
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font-family: SF Pro;
        font-size: 12px;
        font-weight: 590;
        display: none;
        animation: appear ease-out 2s;
    }
    .mypageButton{
        position:absolute;
        top:3050px;
        left:130px;
        width: 123px;
        height: 30px;
        border-radius: 50px;
        background-color: #7B61FF;
        /*display: flex;*/
        align-items: center;
        justify-content: center;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        font-family: SF Pro;
        font-size: 12px;
        font-weight: 590;
        display: none;
        animation: appear ease-out 2s;
    }
    .page{
        position:absolute;
        top:3320px;
        left:160px;
        width:123px;
        height:200px;
        background-color:white;
    }
    .style{
        display: none;
    }
    header { 
            position : fixed;
            top: 47px; left: 0px;
            background-color : #FFF;
            width: 10px;
            height: 56px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05); 
            z-index:5;
        }
        strong {
            position : absolute;
            top: 17px; left: 160px;
            color: #2C2C2C;
            text-align: center;
            font-family: SF Pro Text;
            font-size: 18px;
            letter-spacing: -0.408px;
        } 
        #m1 {
            position : absolute;
            top: 17px; left: 15.88px;
            right : 0px;            
            box-sizing: border-box
        }
        .menu-icon {
            position: absolute;
            top: 17px;
            left: 347.63px;
            cursor: pointer;
            display: inline-block;
        }
        .menu-icon div {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            margin: 6px 0;
            transition: 0.4s;
        }
        #bold {
            position: absolute;
            top : 605px; 
            left : 144px;
            color: #535353;
            font-family: SF Pro Text;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 27.5px;
            letter-spacing: -0.408px;
            text-decoration-line: underline;
        }
        #normal {
            position: absolute;
            top : 644px; 
            left : 65px;
            color: #535353;
            text-align: center;
            font-family: SF Pro Text;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: -0.408px;
        }
        #exp {
            position: absolute;
            top : 727px; 
            left : 45px;
            color: #C8C8C8;
            font-family: SF Pro Text;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: -0.408px;
        }
        button {
            position: absolute;
            top : 773px; left : 133.29px;
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.32); /* 어두운 배경 색상 및 투명도 조절 */
            z-index: 1;
        }
        .drawer {
            position: absolute;
            height: 100%;
            width: 0;
            z-index: 6;
            top: 0;
            right: 0;
            background-color: #FFF;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .drawer a {
            padding: 15px 32px;
            text-decoration: none;
            font-weight: bold;
            font-size: 16px;
            color: #535353;
            display: block;
            transition: 0.3s;
        }

        .drawer a:hover {
            color: #f1f1f1;
        }

        #x {
            position: absolute;
            width: 24px;
            height: 24px;
            color: #FFF ;
            cursor: pointer;
            padding: 0;
            margin: 0;
        }
        #person {
            position: absolute;
            top: 112px; left: 35px;
            color: #535353;
            font-family: SF Pro;
            font-size: 18px;
            font-style: normal;
            font-weight: 510;
            line-height: 22px;
        }
        #mypage {
            position: absolute;
            top: 147.33px; left: 30.33px;
            color: #535353;
            font-family: SF Pro;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            padding: 0;
        }
        #main {
            position: absolute;
            top: 147px; left: 176px;
            color: #535353;
            font-family: SF Pro;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 0px;
            padding: 0;
        }
        p {
            padding: 0%;
            margin: 0;
        }
        #go {
            position: absolute;
            right: 47px;
            color: #8B8B8B;
            font-family: SF Pro;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            transition: 0.3s;
            display: inline-block;
        }
        #go-icon1 {
            position: absolute;
            top: 340px; right: 19px;
            display: inline-block;
        }
        #go-icon2 {
            position: absolute;
            top: 371px; right: 19px;
            display: inline-block;
        }
        #go-icon3 {
            position: absolute;
            top: 402px; right: 19px;
            display: inline-block;
        }
        #menu-cal {
            position: absolute;
            top: 195px; left: 29px;
            padding-top: 4%;
            padding-bottom: 8%;
        }
        #menu-apply {
            position: absolute;
            top: 255px; left: 29px;
            padding-top: 5%;
            padding-bottom: 8%;
        }